<div>
    <div>
        <div>
            <div>
                <h3>Log In your Account</h3>
            </div>
            <div>
                <div>
                    <label for="email">Email *</label>
                    <input type="text" name="email">
                </div>
                <div>
                    <label for="password">Password *</label>
                    <input type="text" name="password">
                </div>
            </div>
            <div>
                <button class="btn">Log In</button>
            </div>
        </div>
    </div>
</div>