<div class="bg-white w-100 py-2 px-3 d-flex justify-content-between" style="background-color: #213555 !important;">
    <h3 class="poppins-regular px-5 text-white">Area Estate</h3>
    <div class="d-flex align-items-center">
        <div class="px-3">
            <h6 class="mb-0 text-white">{{user.First_name}} {{user.Last_name}}</h6>
        </div>
        <div>
            <button class="btn btn-primary py-1 px-3" (click)="logOut()"><span class="poppins-regular">Log Out</span></button>
        </div>
    </div>
</div>