<div class="bg-white py-3 px-3 flex justify-between" style="background-color: #213555 !important;">
    <h3 class="px-5 text-white text-3xl ">Area Estate</h3>
    <div class="flex items-center">
        <div class="px-3">
            <!-- <h6 class="mb-0 text-white">{{user.First_name}} {{user.Last_name}}</h6> -->
        </div>
        <div>
            <button class="btn btn-primary py-1 px-3" (click)="logOut()"><span class="poppins-regular">Log Out</span></button>
        </div>
    </div>
</div>